@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster+Two&family=Open+Sans:wght@500&family=Outfit:wght@300;500&family=Poppins:ital,wght@0,200;0,300;1,100&family=Rancho&family=Roboto:wght@100&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster+Two&family=Open+Sans:wght@500&family=Outfit:wght@300;500&family=Poppins:ital,wght@0,200;0,300;1,100&family=Rancho&family=Roboto:wght@100&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster+Two&family=Open+Sans:wght@500&family=Outfit:wght@300;500&family=Poppins:ital,wght@0,200;0,300;1,100&family=Rancho&family=Roboto:wght@100&family=Satisfy&family=Viga&display=swap');

.logo{
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    margin-top: 15px;
}

.jumbotron {
    background-image: url('images/00.jpg');
    background-size: cover;
    height: 800px;
}

.display-4 {
    color: #3A1770;
    text-align: center;
    margin-top: 10px;
    font-size: 19vw;
    line-height: 0.55em;
    transform: translateY(70%);
    font-family: 'Rancho', cursive;
}

span {
    font-size: 0.25em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.top {
    width: 205px;
    height: 280px;
    border-radius: 10px 10px 10px 10px;
}

.card-title {
    text-align: center;
}

.display-4 {
    transform: translateY(70%);
}

.destinasi {
    margin-left: 50px;
}

section {
    padding-top: 6rem;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 4vw;
    color: #3A1770;
}


.par {
    font-family: 'Outfit', sans-serif;
    margin-top: 15px;
    color: #3A1770;
}

#gambar{
    width: 170px; 
    height: 220px;
    border-radius: 10px 10px 10px 10px;
}



.nav-link{
    margin-right: 35px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
}

.ig {
    margin: 9px;
    width: 30px;
    height: 30px;
}

footer {
    height: 300px;
    background-color: #c4abe9;
}


/*Ver Desktop*/
@media (min-width: 992px) { 
    .nav-link:hover, a.active {
        background: #3A1770;
        color: white !important;
    }

    .jumbotron {
        margin-top: -100px;
    }

    .display-4 {
        font-size: 13vw;
        transform: translateY(70%);
    }

    span {
        font-size: 0.20em;
    }

    .mb-2{
        width: 205px;
    }
    .destinasi {
        margin-left: 150px;
    }
    
    
}

